*{
    border: 1px solid red;
}

body{
    margin: 0;
    background-color: #1F2937;
    font-family: sans-serif;
    color: #F9FAF8;
}

.top{
    margin-left: 13%;
    margin-right: 13%;
}

header, .section{
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
}

.box-left{
    width: 50%;
}
.box-right{
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.header-link{
    padding-left: 50px;
}
.middle{
    background-color: white;
}
#container{
    background-color: gray;
}